<div class="row"></div>

<div class="container headings">
  <h1>Your Order</h1>
  <i class="material-icons">shopping_cart</i>
  <hr>
</div>

 <div class="row">
 <div class="col s12 m12 l12">
 <ul class="collection">
    <li class="collection-item avatar">
      <i class="material-icons circle brown">folder</i>
      <h2>{{order.productName}}</h2>
      
      <label class="left brown-text">Order#:&nbsp; </label> <span class="orange-text"> {{order._id}}</span><br>
      <label class="left brown-text">Status:&nbsp; </label> <span class="orange-text"> {{order.orderStatus}}</span>
      
      <div class="row"></div>      
      <div class="divider"></div>
      <h6>Product Information</h6>
      <div class="divider"></div>
      <div class="row"></div>   
      
      <div class="col s12 m6 l3">
      <label class="brown-text"><i class="material-icons prefix">dashboard</i>Size</label>
      <p>{{order.quantity}} {{order.productSize}}</p>
      </div>

      <div class="col s12 m6 l8">
      <label class="brown-text"><i class="material-icons prefix">description</i>Description</label>
      <p> {{order.productDes}}</p>
      </div>             
    
      <div class="row"></div>
      <div class="divider"></div>
      <h6>Billing Information</h6> 
      <div class="divider"></div>
      <div class="row"></div>   
      
      <div class="col s12 m6 l3">
      <label class="brown-text"><i class="material-icons prefix">business</i>Company Name</label>
      <p>{{order.company}}</p>
      </div>

      <div class="col s12 m6 l3">
      <label class="brown-text"><i class="material-icons prefix">credit_card</i>Billing Adddress</label>
      <p>{{order.billingAddress}}</p>
      </div>

      <div class="col s12 m6 l3">
      <label class="brown-text"><i class="material-icons prefix">email</i>Email</label>
      <p>{{order.email}}</p>
      </div> 

      <div class="col s12 m6 l3">
      <label class="brown-text"><i class="material-icons prefix">phone</i>Phone</label>
      <p>{{order.tell}}</p>
      </div>

      <div class="row"></div>
      <div class="divider"></div>
      <h6>Shipping Information</h6>
      <div class="divider"></div>
      <div class="row"></div>   

      <div class="col s12 m6 l3">
      <label class="brown-text"><i class="material-icons prefix">local_shipping</i>Shipping Address</label>
      <p>{{order.shippingAddress}}</p>
      </div>

      <div class="col s12 m6 l3"> 
      <label class="brown-text"><i class="material-icons prefix">access_time</i>ETA</label>
      <p>{{order.shipDate}}</p>
      </div>

      <div class="row"></div>
    </li>
</ul>
</div>   
</div>


