<div class="row"></div>

<div class="container headings">
  <h1>Manage Appts</h1>
  <i class="large material-icons">subtitles</i>
  <h6>Welcome {{data.users.username}}</h6>
  <hr>
</div>


<div class="row">

 {{#each data.bookings}}
 <div class="col s12 m12 l6">
 <ul class="collection z-depth-1">
    <li class="collection-item avatar">
 
      <div class="secondary-content"><a href="#" onClick="deleteBooking('{{this._id}}')"><i class="material-icons circle">delete</i></a><label>delete</label></div>
      
      <div class="primary-content"><a href="/update/{{this._id}}"><i class="material-icons circle">change_history</i></a>
      <label>update</label></div>
      
      <h6>Appointment Information</h6>
      <div class="divider"></div>
      <div class="row"></div>
      
      <div class="col s6 m3 l3">
      <label class="left purple-text text-darken-3"><i class="material-icons prefix purple-text text-darken-3">confirmation_number</i>Appointment#</label>
      <p class="apiId">{{this._id}}</p>
      </div>

     <div class="row"></div>
      
      <div class="col s12 m4 l3">
      <label class="purple-text text-darken-3"><i class="material-icons prefix purple-text text-darken-3">dashboard</i>Name</label>
      <p>{{this.firstName}} {{this.lastName}}</p>
      </div>

      <div class="col s12 m4 l3">
      <label class="purple-text text-darken-3"><i class="material-icons prefix purple-text text-darken-3">phone</i>Phone</label>
      <p>{{this.tell}}</p>
      </div>

      <div class="col s12 m4 l6">
      <label class="purple-text text-darken-3"><i class="material-icons prefix purple-text text-darken-3">access_time</i>Date/Time</label>
      <p>{{moment this.bookDate format="MMMM Do, YYYY h:mm a"}}</p>
      </div>

      <div class="row"></div>

    </li>
    </ul>
</div>
 {{/each}}

</div>   

{{!-- MODAL --}}
<div id="delete" class="modal">
  <div class="modal-content">
    <p class="center"><img src="/public/img/warning.svg" alt="delete_order" class="responsive-img"></p>
    <p class="center"><a class="modal-action modal-close waves-effect waves-light btn" href="#">no</a></p>
    <p class="center"><a class="modal-action modal-close waves-effect waves-light btn red lighten-2" id="yes" href="/dashboard">Yes</a></p>
  </div>
</div>
{{!-- MODAL --}}





