<div class="row"></div>

<div class="container headings">
  <h1>Products</h1>
  <i class="material-icons">nature</i>
  <hr>
</div>



<div class="row">
  {{#each products}}
  
  {{#each anchovies}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each olives}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each mushrooms}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}


  {{#each oliveoil}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each pesto}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each peppers}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each brazilnuts}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each quinoa}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each heartofpalms}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each sardines}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each atichokes}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each lemons}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each capers}}
  <div class="col s12 m6 l4">
    <div class="card">
      <div class="card-image">
      {{#each images}}
        <img class="responsive-img materialboxed" src="{{image1}}"/>  
      {{/each}}    
        <span class="card-title">{{this.name}}</span>
      </div>
      <div class="card-content">
        <p>{{this.cardtext}}</p>
      </div>
      <div class="card-action">
        <a href="/order">Order</a>
        <a href="{{this.url}}">Learn More</a>
      </div>
    </div>
  </div>
  {{/each}}


  {{/each}}
</div>



