<div class="row"></div>

<div class="container headings">
	<h1>Stylists</h1>
	<i class="large material-icons">content_cut</i>
</div>



<div class="row"></div>
<div class="row"></div>
{{#each employees}}
<div class="row">
	<div class="col s12 m12 l4 center">
		<img src="{{this.imageUrl}}" alt="sache_employees" class="circle">
	</div>

	<div class="col s12 m12 l8 center-on-medium-down">
		<h2>{{this.name}}</h2>
		<h3>{{this.position}}</h3>
		<p>{{this.bio}}</p>
		<p><a href="tel:+{{this.tell}}"><i class="material-icons prefix" style="top: 5px;position: relative;">phone</i>{{this.tell}}</a></p>
		<p><a href="mailto:{{this.email}}" target="_blank"><i class="material-icons prefix" style="top: 5px;position: relative;">email</i>{{this.email}}</a></p>
	</div>
</div>
{{/each}}

{{!-- <div class="row">
	<div class="col s12 m12 l4 center">
		<img src="/public/img/emp2.png" alt="sache_employees" class="circle">
	</div>
	<div class="col s12 m12 l8 center-on-medium-down">
		<h2>Daphne</h2>
		<h3>Stylist</h3>
		<p>I have been in this industry and community for over 25 years and will enjoy the opportunity to apply my experience, education, and love of this profession to give you an enjoyable and satisfying salon experience. I always had a passion for hair and started experimenting with hair extension at the age of 16 years old. I specialize in many advanced hair extensions techniques and pride myself in healthy haircare and natural hair presses.</p>
		<p><a href="tel:+2673448896"><i class="material-icons prefix" style="top: 5px;position: relative;">phone</i>(267) 344 8896</a></p>
		<p><a href="mailto:daphnejohnson01@aol.com" target="_blank"><i class="material-icons prefix" style="top: 5px;position: relative;">email</i>daphnejohnson01@aol.com</a></p>
	</div>
</div>

<div class="row">
	<div class="col s12 m12 l4 center">
		<img src="/public/img/emp3.png" alt="sache_employees" class="circle">
	</div>
	<div class="col s12 m12 l8 center-on-medium-down">
		<h2>Kay</h2>
		<h3>Stylist</h3>
		<p>After some years of being the hair stylist and makeup artist for my peers in high school and in my neighborhood, I decided that I wanted to be that person behind the chair that would make people feel and look great. As a graduate from Empire Beauty School I am soo excited to illustrate my skills through both my experience and education. I specialize in coloring hair, weaves, natural hair styling, curls, silk press and overall creating styles that can be worn every day. I believe that understanding my client's personality and lifestyle helps to create the best look for each individual. </p>
		<p><a href="tel:+2673448896"><i class="material-icons prefix" style="top: 5px;position: relative;">phone</i>(267) 344 8896</a></p>
		<p><a href="mailto:kay.melynda@gmail.com" target="_blank"><i class="material-icons prefix" style="top: 5px;position: relative;">email</i>kay.melynda@gmail.com</a></p>
	</div>
</div> --}}